<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connect_url</key>
	<string>https://e-mission.eecs.berkeley.edu/</string>
	<key>google_webapp_client_id</key>
	<string>97387382925-j53gqihf7j4o0h1sp6r5cllhqikfoq6o.apps.googleusercontent.com</string>
	<key>google_ios_client_id</key>
	<string>97387382925-ac4aaamik00o7a7bjjcik550nt9urbf3.apps.googleusercontent.com</string>
	<key>google_ios_client_secret</key>
	<string>pcuWV-OiONjmJjlJzpsWDbDI</string>
	<key>moves_client_id</key>
	<string>06RXi7h69ZGepj2x5z3yK6XJMaSU9gR_</string>
</dict>
</plist>
